{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUCTCODER</title>
	<!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="{% static 'assets/js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<body>
<div id="wrapper">
        {% include 'template-menu.html' %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-ma-6">
                        <h1 class="page-header">
                            Add student <small>write down your data and join us</small>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            {% if massage %}
                            <div class="panel-heading">
                                <p>{{massage}}</p>
                            </div>
                            {%endif%}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                
                                <form action="/acmerdata/addstudent" method="post">
                                        
                                            
                                            {% csrf_token %}
                                            {%for s in form%}
                                            <div class="form-group">
                                            {{ s.errors }}
                                            {{ s.label_tag }}
                                            {{s}}
                                            {% if s.help_text %}
                                            <p class="help-block">{{ s.help_text|safe }}</p>
                                            {% endif %}
                                            </div>
                                            {% endfor %}
                                        
                                        <button type="submit" class="btn btn-default">提交</button>
                                        <a href="/acmerdata/addstudentslist" class="btn btn-primary">审核列表</a>
                                        </form>
                                        
                                         
                                            
                                            
                                        
                                    
                                    
                                    

                                </div>
                            </div>
                        </div>
                
                        
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                申请提示
                            </div>
                            <div class="panel-body">
                                <b>关于新申请:</b><br>请按照左边的提示填写表格并申请，个人信息为必填项,其余账号选填,填写完毕后可进入审核列表进行查看审核相关信息以及填写情况
                                cfcheck及accheck项供检查codeforces、atcoder网站用户名的正确性,若为True即该账号存在,若为false请检查您填写的账号的正确性。<br>填写完成后请与本站管理员联系说明申请,无认证申请恕不通过
                                <hr><b>关于更新信息:</b><br>学号必填,但账号信息可选择要更新的信息填写,不更新的信息注意留空,学校\年级等信息如不更新应除去<br>例：需要更新codeforces昵称，填写完成codeforces昵称后,atcoder昵称以及其它账号留空直接提交,这时审核通过后会保留atcoder账号，同时更新codeforces账号<br>
                                如需申请个人信息更新请直接全量填写,并与管理员联系
        
                            </div>
        
                        </div>
                    </div> 

        
        </div>
    </div>
        </div>
</div>
<script>
    function typechange(){
        var type = document.getElementById("id_atype").value
        if(type=="update"){
            document.getElementById("id_realName").required =false
            document.getElementById("id_className").required = false
            document.getElementById("id_year").required=false
            document.getElementById("id_cfID").required=false
        }
        else if(type == "create"){
            document.getElementById("id_realName").required = true
            document.getElementById("id_className").required = true
            document.getElementById("id_year").required = true
            document.getElementById("id_cfID").required= true
        }
    }
</script>
</body>
</html>
