{% load static %}

<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
</head>

<body style="height: 100%; margin: 0">
	<div id="container" style="height: 100%;width:100%;"></div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script type="text/javascript">
		var names = JSON.parse('{{names|safe}}');
		var lineX = JSON.parse('{{lineX|safe}}');
		var stuNOList = JSON.parse('{{stuNOList|safe}}');
		var dic_stuNO_rating = JSON.parse('{{dic_stuNO_rating|safe}}');
		var color = JSON.parse('{{color|safe}}');

		var datalist = []
		for(var item in stuNOList){
			console.log(dic_stuNO_rating[stuNOList[item]])
			datalist.push(dic_stuNO_rating[stuNOList[item]])
		}

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
		var charts = {
			unit: 'Rating(cf)',
			names: names, 
			lineX: lineX, 
			value: datalist
			
		};

		var lineY = [];

		for (var i = 0; i < charts.names.length; i++) {
			var x = i;
			if (x > color.length - 1) {
				x = color.length - 1;
			}
			var data = {
				name: charts.names[i],
				type: 'line',
				color: color[x] + ')',
				smooth: true,
				areaStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: color[x] + ', 0.3)'
						}, {
							offset: 0.8,
							color: color[x] + ', 0)'
						}], false),
						shadowColor: 'rgba(0, 0, 0, 0.1)',
						shadowBlur: 10
					}
				},
				symbol: 'circle',
				symbolSize: 5,
				data: charts.value[i]
			}
			lineY.push(data)
		};

		lineY[0].markLine = {
			silent: true,
			data: [{
				yAxis: 1300
			}, {
				yAxis: 1500
			}, {
				yAxis: 1700
			}, {
				yAxis: 1900
			}, {
				yAxis: 2100
			}]
		};
		var option = {
			backgroundColor:'#1b2735',
			tooltip: {
				trigger: 'axis'
			},
    dataZoom: [
        {
            show: true,
            realtime: true,
            start: '1',
            end: '70'
        },
        {
            type: 'inside',
            realtime: true,
            start: '1',
            end: '70'
        }
    ],
			legend: {
				data: charts.names,
				textStyle: {
					fontSize: 12,
					color: 'rgb(0,253,255,0.6)'
				},
				right: '4%'
			},
			grid: {
				top: '14%',
				left: '4%',
				right: '4%',
				bottom: '12%',
				containLabel: true
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: charts.lineX,
				axisLabel: {
					textStyle: {
						color: 'rgb(0,253,255,0.6)'
					},
					formatter: function(params) {
						return params;//.split(' ')[0] + '\n' + params.split(' ')[1]
					}
				}
			},
			yAxis: {
				name: charts.unit,
				type: 'value',
				axisLabel: {
					formatter: '{value}',
					textStyle: {
						color: 'rgb(0,253,255,0.6)'
					}
				},
				splitLine: {
					lineStyle: {
						color: 'rgb(23,255,243,0.3)'
					}
				},
				axisLine: {
					lineStyle: {
						color: 'rgb(0,253,255,0.6)'
					}
				}
			},
			series: lineY
		};

		myChart.setOption({
		  legend: {
			selected: {
			  '赵伟杰': true,
			  '庄禹': true
			}
		  }
		});
        
        myChart.setOption(option, true);
    </script>
</body>

</html>