{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUCTCODER</title>
	<!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="{% static 'assets/js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
       
        {% include 'template-menu.html' %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            spider
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               

            <div class="row">
                <div class="col-md-12">
                    <a href="/acmerdata/getCFData" class="btn btn-primary">CF data - all</a> (about 5 min) 
                    <a href="/acmerdata/updateCFDataByContest" class="btn btn-primary">CF data - new</a> (about 1 min)
                    <a href="/acmerdata/getACData" class="btn btn-primary">AC data - all</a> (about 3 min)
                    <a href="/acmerdata/updateStudentlist" class="btn btn-primary">update studentlist - new</a>
                    <a href="/acmerdata/getNCData" class="btn btn-primary">NC data - all</a>
                    <a href="/acmerdata/cfcontestsubmitupdatebycontest" class="btn btn-primary">CF statu update - all</a>
                    <a href="/acmerdata/fixcodeerrorforinternetproblem" class="btn btn-primary">CF statu fixerror internet - all</a>
                    <a href="/acmerdata/standardizecftime"class="btn btn-primary">standardizecftime</a>
                    <a href="/acmerdata/setallcontestsolve"class="btn btn-primary">setallcontestsolve</a>
                    <a href="/acmerdata/setallaftersolve"class="btn btn-primary">setallaftersolve</a>
                    <a href="/acmerdata/updateforecastlist" class="btn btn-primary">updateforecastlist</a>
                    <a href="/acmerdata/updataweightratingstatistics" class="btn btn-primary">updataweightratingstatistics</a>
                </div>
            </div>
                <!-- /. ROW  -->
            
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
      <!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="{% static 'assets/js/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/js/dataTables/dataTables.bootstrap.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
    
   
</body>
</html>
