{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUCTCODER</title>
	<!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="{% static 'assets/js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        
        {% include 'template-menu.html' %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
			 <!-- <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            students <small>Responsive tables</small>
                        </h1>
                    </div>
                </div>  -->
                 <!-- /. ROW  -->
               

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <!-- <div class="panel-heading">
                            students' data
                        </div> -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>stuNO</th>
                                            <th>realname</th>
                                            <th>classname</th>
                                            <th>year</th>
                                            <th>cfRating</th>
                                            <th>div1</th>
                                            <th>div2</th>
                                            <th>div3</th>
                                            <th>#cf++</th>
                                            <th>acRating</th>
                                            <th>WeightedRating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if studentlist %}
                                            {% for s in studentlist %}
                                            <tr class="odd gradeX">
                                                <td>{{  forloop.counter }}</td>
                                                <td><a href="/acmerdata/student/{{ s.stuNO }}">{{ s.stuNO }}</a></td>
                                                <td><a href="/acmerdata/student/{{ s.stuNO }}">{{ s.realName }}</a></td>
                                                <td>{{ s.className }}</td>
                                                <td>{{ s.year }}</td>
                                                <td>{{ s.cfRating }}</td>
                                                <td>{{ s.div1 }}</td>
                                                <td>{{ s.div2 }}</td>
                                                <td>{{ s.div3 }}</td>
                                                <td><a href="/acmerdata/aftercf/{{ s.stuNO }}">{{ s.after }}</a></td>
                                                <td>{{ s.acRating }}</td>
                                                <td>{{ s.count }}</td>
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </tbody>

                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
            
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
      <!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="{% static 'assets/js/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/js/dataTables/dataTables.bootstrap.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
    
   
</body>
</html>
