{% load static %}
<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="utf-8" />
        <title>GroupTagPolor-BUCTCODER</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
    </head>
    <body style="height: 100%; margin: 0;">
            <div id="container" style="height: 100%;width: 100%;"></div>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
            <script type="text/javascript">
            var chart = echarts.init(document.getElementById("container"))
                let XData = [];
                var mychart =echarts.init(document.getElementById("container"));
                var ser = [];
                var names = JSON.parse('{{names|safe}}');
                var datalist = JSON.parse('{{datalist|safe}}');
                var tags = JSON.parse('{{tags|safe}}');
                var color = JSON.parse('{{ colors|safe }}');
                let windDirection = [];
                for(var j=0;j<names.length;j++)
                {
                    var datas = []
                    for(var i = 0 ;i<tags.length;i++)
                    {
                        data = [datalist[names[j]][i],i,tags[i]];
                        datas.push(data);
                    }
                    var n = {
                        name:names[j],
                            coordinateSystem: 'polar',
                            type: 'line',
                            itemStyle: {
                                normal: {
                                    color: color[j] + ', 0.3)',
                                }
                            },
                            polarIndex: 0,
                            symbol: 'emptyCircle',
                            symbolSize: 6,
                            areaStyle: {
                                normal: {
                                    color: {
                                        type: 'radial',
                                        x: 0.5,
                                        y: 0.5,
                                        r: 0.5,
                                        colorStops: [{
                                            offset: 0,
                                            color: 'transparent',
                                        }, {
                                            offset: 1,
                                            color: color[j] + ', 0.8)' // 100% 处的颜色
                                        }],
                                        globalCoord: false // 缺省为 false
                                    },
                                    opacity: 0.7
                                }
                            },
                            data: datas
                        }
                        ser.push(n);
                }
                
                option = {
                    title: {
                        text: '不同分类的CF题目完成数量对比-极坐标图'
                    },
                    legend: {
                        data: names,
                    },
                    polar: [{
                            center: ['50%', '50%']
                        },
                        {
                            center: ['50%', '50%']
                        },
                    ],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'line',
                            snap:true
                        },
                        formatter:(e)=>{
                            return `<div>
                              <p>tags：${e[0].value[2]} <p>
                              {% for name in namesforit %}
                              <p>{{ name }}：${e[{{forloop.counter0}}].value[0]} <p>
                              {% endfor %}
                            <div>`
                        }
                
                    },
                    angleAxis: [{
                            // type: 'value',
                            boundaryGap: false,
                            startAngle: 90,
                            splitNumber:30,
                            polarIndex: 0,
                            // data: XData,
                            axisLabel: {
                                formatter: (e) => {
                                    return tags[e]
                                     //return e[0].value[3]
                                }
                            }
                        },
                        {
                            // type: 'value',
                            boundaryGap: false,
                            startAngle: 90,
                            polarIndex: 1,
                            // data: XData,
                            axisLine: {
                                show: false
                            },
                            splitLine: {
                                show: false
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                show: false
                            }
                        }
                    ],
                    radiusAxis: [{
                        min: 1,
                        polarIndex: 0,
                        max: 'dataMax',
                       
                        axisLabel: {
                            show: true
                        },
                       
                        axisTick: {
                            show: false
                        }
                    }, {
                        min: 0,
                        polarIndex: 1,
                        max: 'dataMax',
                        axisLine: {
                            show: false
                        },
                        axisLabel: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        }
                    }],
                    dataZoom:[
                        {
                            type: 'slider',
                            angleAxisIndex:[0,1],

                        },
                        /*{
                            type: 'inside',
                            radiusAxisIndex:[0,1],
                            filterMode: 'filter'

                        }*/
                    ],
                    series: ser,
                    animationDuration: 2000
                };
                chart.setOption(option)
                </script>
    </body>
</html>

